<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dao.LogDao">
    <resultMap id="BaseResultMap" type="com.model.OdpsLog" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="log_source" property="log_source" jdbcType="VARCHAR" />
        <result column="log_time" property="log_time" jdbcType="BIGINT" />
        <result column="log_topic" property="log_topic" jdbcType="VARCHAR" />
        <result column="time" property="time" jdbcType="VARCHAR" />
        <result column="device_id" property="device_id" jdbcType="VARCHAR" />
        <result column="ip" property="ip" jdbcType="VARCHAR" />
        <result column="member_id" property="member_id" jdbcType="VARCHAR" />
        <result column="log_level" property="log_level" jdbcType="VARCHAR" />
        <result column="modtrans" property="modtrans" jdbcType="VARCHAR" />
        <result column="content" property="content" jdbcType="VARCHAR" />
    </resultMap>

     <sql id="Base_Column_List" >
      log_source,log_time,log_topic,time,device_id,ip, member_id,log_level,modtrans,content
    </sql>
    <select id="queryLog" resultMap="BaseResultMap" parameterType="java.lang.String" >
            select
        <include refid="Base_Column_List" />
            from ${tableName}
         where member_id=#{member_id}
    </select>


</mapper>